<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      
      <a href="home.html" style="color: white; text-decoration: none; margin: 0 15px;">🏡 Home</a> |
      <a href="cadastro.html" style="color: white; text-decoration: none; margin: 0 15px;">👤 Cadastro</a> |
      <a routerLink="/usuarios" style="color: white; text-decoration: none; margin: 0 15px;">👥 Usuários</a> |
      <a href="produtos.html" style="color: white; text-decoration: none; margin: 0 15px;">📦 Produtos</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar usuário"></ion-searchbar>

  <ion-grid>
    <ion-row class="header">
      <ion-col>ID</ion-col>
      <ion-col>Nome</ion-col>
      <ion-col>Email</ion-col>
      <ion-col>Aniversário</ion-col>
      <ion-col>Endereço</ion-col>
    </ion-row>

    <ion-row *ngFor="let user of filteredUsers">
      <ion-col>{{user.id }}</ion-col>
      <ion-col>{{ user.firstName }} {{ user.lastName }}</ion-col>
      <ion-col>{{ user.email }}</ion-col>
      <ion-col>{{ user.birthDate }}</ion-col>
      <ion-col>{{ user.address.address }} - {{ user.address.city }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
